<!DOCTYPE html>
<html>
<head>
<title>Maths</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
<center>
  	
	<!-- code du menu -->
	<table border=1 width="1300px">
	<tr><td  >
	
		<ul >
			<li><a href="{{ url_for('index') }}">Accueil  </a></li>
			<li><a href="{{ url_for('inverseMatrice') }}">Inverse </a></li>
			<li><a href="{{ url_for('solveur') }}">Résolution </a></li>

    </ul>
			
		</ul>
	<br/><br/>
	<td >
	<!-- code du contenu de la page -->
	{% block body %}{% endblock %}
</td></tr>
</center>

</body>
</html>

