<!DOCTYPE html>
<html>
<head>
<title>Dimensionnement</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
<div class=page>
  	<h1><marquee>Serigne Fallou NDIAYE DIC1-TR-2015</marquee></h1>
	<!-- code du menu -->
	<table border=1>
	
	
<tr><td colspan=4 align=center class=formulaire>.......</td></tr>
<tr>
	<td class=contenu >
	<!-- code du contenu de la page -->
	{% block body %}{% endblock %}
</td></tr>
<tr><td colspan=4 align=center class=formulaire>Copyright@sfallou2015</td></tr>
</table>

</div>	
</body>
</html>

